.view {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  overflow: hidden;

  margin: .4em;
  border-radius: .6em;
}

.view-image-container {
  border: 1px solid rgba(var(--bg-color-rgb), 0.4);

  & > img {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    
    width: 600px;
    height: auto;
  }
}