
.shapeCreation {
    position: relative;
    width: 100%;
    height: 100%;

    &.create, &.name {
        cursor: crosshair;
    }

    & > .newDiv {
        position: absolute;
        border: 5px solid red;
        background-color: rgba(255, 0, 0, 0.118);
    }

    & > .input {
        position: absolute;
        transform: translateX(-50%);
        & > input {
            padding: .2rem .5rem;
            border: .2rem solid white;
            border-radius: .5rem;
            background-color: black;
            color: white;
            &:focus {
                border-color: white;
                outline: .2rem solid black;
            }
        }
    }
}