.shapeList {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5em;

  color: var(--text-color);
  background-color: rgba(var(--bg-color-rgb), 0.6);

  & > div {
    margin: .2rem .3rem;
  }

}

.shapeListElement {
  cursor: pointer;
  padding: .1rem .4rem;
  border-radius: .2rem;

  &:hover {
    background-color: rgba(var(--bg-color-rgb), 0.8);
  }
}