.shape {
  position: absolute;

  .icons {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -110%);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .2rem;
    margin-bottom: .1rem;
    
    & > * {
      border-radius: .5rem;
      padding: .2rem;
      background-color: rgba(var(--bg-color-rgb), 0.8);
    }

    &:hover {
      cursor: pointer;
    }
  }

  caret-color: transparent;
  &.editable {
    caret-color: auto;
  }
}

.defaultShape {
  border: 2px solid ;
  border-radius: .5rem;
  overflow: hidden;
  resize: none;

  &:focus {
    outline: none;
  }
  .editable > &:focus-within {
    outline: 2px solid black;
  }
}


.nameShape {
  position: absolute;
  transform: translate(-50%, 10%);
  border: solid .15rem;
  border-radius: .5rem;
  padding: .2rem;

  .editable > &:focus-within {
    outline: 2px solid black;
  }

  & > div {
    display: inline-grid;
    vertical-align: top;
    align-items: center;  
    width: max-content;

    &::after,
    input {
      width: auto;
      min-width: 1em;
      grid-area: 1 / 2;
      color: inherit;
      font: inherit;
      text-align: center;
      padding: 0 .25rem;
      margin: 0;
      background: none;
      appearance: none;
      border: none;
    }
    &::after {
      content: attr(data-value) ' ';
      visibility: hidden;
      white-space: nowrap;
      width: fit-content;
    }
    &:focus-within {        
      input:focus {
        outline: none;
      }
    }
  }
  
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -96%);
    width: 0; 
    height: 0; 
    border-left: .5rem solid transparent;
    border-right: .5rem solid transparent;
    border-bottom: .5rem solid;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -99%);
    width: 0; 
    height: 0; 
    border-left: .7rem solid transparent;
    border-right: .7rem solid transparent;
    border-bottom: .7rem solid; 
  }
}




@mixin shapeColor($textColor, $borderColor, $bgColor) {
  & > .defaultShape,
  & > .nameShape {
    color: $textColor;
    border-color: $borderColor;
    background-color: $bgColor;
    &::after {
      border-bottom-color: $bgColor;
    }
    &::before {
      border-bottom-color: $borderColor;
    }
  }
}

.color-default {
  @include shapeColor(white, black, rgba(0, 0, 0, 0.457));
}
.color-red {
  @include shapeColor(white, red, rgba(186, 35, 35, 0.297));
}
.color-green {
  @include shapeColor(white, green, rgba(0, 128, 0, 0.281));
}
.color-blue {
  @include shapeColor(white, blue, rgba(0, 0, 255, 0.297));
}