.dragZoomWrapper-window {
  position: relative;
  width: 100%;
  height: 100%;

  color: var(--bg-color);
  background-color: lightgray;
}

.dragZoomWrapper {
  display: inline-block;
  position: relative;
  top: 50%;
}

.isMoving {
  cursor: grab;
}


.zoomWrapper,
.draggableWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  & > .zoomable {
    position: absolute;
  }
}

.zoomWrapper {
  -webkit-box-shadow:inset 0 0 20px 0 #00000083;
  box-shadow:inset 0 0 20px 0 #00000083;
}

.sideOptions {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  & > .column-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  & .zoomButtons {
    margin-top: auto;
    overflow: hidden;
  
    display: flex;
    flex-direction: column;
    align-items: center;
  
    border-left: .15rem solid white;
    border-top: .15rem solid white;
    color: var(--text-color);
    border-top-left-radius: .3em;
  
    & > .icon {
      font-size: 1.2em;
      cursor: pointer;
      background-color: rgba(var(--bg-color-rgb), 0.8);
  
      & > svg {
        margin: .15em;
        margin-right: .25em;
      }
  
      &:hover {
        background-color: rgba(var(--bg-color-rgb), 0.8);
      }
    }
  
    & > .icon:last-child > svg {
      margin-bottom: .25em;
    }
  
    & > .icon.zoomButton-selected {
      background-color: rgba(var(--bg-color-rgb), 0.9);
    }
  }

  & .hideButton {
    font-size: 1.3em;
    cursor: pointer;
    padding: .2rem;
    border-bottom-left-radius: .3em;
    border-left: .15rem solid white;
    border-bottom: .15rem solid white;
    background-color: rgba(var(--bg-color-rgb), 0.8);
  }
}