.dragZoomWrapper-window {
  position: relative;
  width: 100%;
  height: 100%;

  color: var(--bg-color);
  background-color: lightgray;
}

.dragZoomWrapper {
  display: inline-block;
  position: relative;
  top: 50%;
}

.isMoving {
  cursor: grab;
}


.zoomWrapper,
.draggableWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  & > .zoomable {
    position: absolute;
  }
}

.zoomButtons {
  position: absolute;
  right: 0;
  bottom: 0;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;

  color: var(--text-color);
  border-top-left-radius: .3em;

  & > .icon {
    font-size: 1.2em;
    cursor: pointer;
    background-color: rgba(var(--bg-color-rgb), 0.6);

    & > svg {
      margin: .15em;
      margin-right: .25em;
    }

    &:hover {
      background-color: rgba(var(--bg-color-rgb), 0.8);
    }
  }

  & > .icon:last-child > svg {
    margin-bottom: .25em;
  }

  & > .icon.zoomButton-selected {
    background-color: rgba(var(--bg-color-rgb), 0.9);
  }
}