
.ui-window {
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;

  background-color: var(--bg-color);
  border-radius: .9em;

  & > .icon {
    position: absolute;
    top: .2em;
    left: .2em;

    font-size: 1.3em;
    svg {
      margin: .2em;
    }

    background-color: var(--bg-color);
    border-bottom-right-radius: .5rem;
    cursor: pointer;
}

}